/*#app {
  background-color: red;
}*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#root {
  width: inherit;
  height: inherit;
  background-color: #000;
}

#map {
	height: inherit;
	width: inherit;
	z-index: 0;
}
#mapUI {
  width: inherit;
  height: inherit;
  background-color: #000;
}

.filterMRTLines {
  position: absolute;
  top: 10px;
  z-index: 50;
  width: 200px;
  height: auto;
  background: hsla(0,100%,100%,0.8);
  margin: 10px;
  font-family: sans-serif;
  font-size: 13px;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.filterMRTLines hr {
  border: 1px solid #000;
  margin: 5px;
}
.filterMRTLines h3 {
  margin-top: 0;
  padding-left: 5px;
}
.filterMRTLines p {
  padding-left: 5px;
}
.filterMRTLines select {
  display: block;
  margin: 0 auto;
}